.row {
	clear: both;
}

$base-column-width: 100%;
.columns-1 {
	@import "all-columns";
}

$base-column-width: 50%;
.columns-2 {
	@import "all-columns";
}

$base-column-width: 33.3333333%;
.columns-3 {
	@import "all-columns";
}

$base-column-width: 25%;
.columns-4 {
	@import "all-columns";
}

$base-column-width: 20%;
.columns-5 {
	@import "all-columns";
}

$base-column-width: 16.6666667%;
.columns-6 {
	@import "all-columns";
}

$base-column-width: 14.2857143%;
.columns-7 {
	@import "all-columns";
}

$base-column-width: 12.5%;
.columns-8 {
	@import "all-columns";
}

$base-column-width: 11.1111111%;
.columns-9 {
	@import "all-columns";
}

$base-column-width: 10%;
.columns-10 {
	@import "all-columns";
}

$base-column-width: 9.0909091%;
.columns-11 {
	@import "all-columns";
}

$base-column-width: 8.3333333%;
.columns-12 {
	@import "all-columns";
}

$base-column-width: 7.6923077%;
.columns-13 {
	@import "all-columns";
}

$base-column-width: 7.1428571%;
.columns-14 {
	@import "all-columns";
}

$base-column-width: 6.6666667%;
.columns-15 {
	@import "all-columns";
}

$base-column-width: 6.25%;
.columns-16 {
	@import "all-columns";
}

$base-column-width: 5.8823529%;
.columns-17 {
	@import "all-columns";
}

$base-column-width: 5.5555556%;
.columns-18 {
	@import "all-columns";
}

$base-column-width: 5.2631579%;
.columns-19 {
	@import "all-columns";
}

$base-column-width: 5%;
.columns-20 {
	@import "all-columns";
}

@import "grid-xlarge";
@import "grid-large";
@import "grid-medium";
@import "grid-small";
