$screen-size-small: 0px;
$screen-size-medium: 960px;
$screen-size-large: 1200px;
$screen-size-xlarge: 1920px;

.only-small {
	display: none;
}
.only-medium {
	display: none;
}
.only-large {
	display: none;
}
.only-xlarge {
	display: none;
}

.up-to-small {
	display: none;
}
.up-to-medium {
	display: none;
}
.up-to-large {
	display: none;
}

.at-least-medium {
	display: none;
}
.at-least-large {
	display: none;
}
.at-least-xlarge {
	display: none;
}

@media (min-width: $screen-size-small) and (max-width: $screen-size-medium) {
	.only-small {
		display: inherit;
	}
	.up-to-small {
		display: inherit;
	}
	.up-to-medium {
		display: inherit;
	}
	.up-to-large {
		display: inherit;
	}
}
@media (min-width: $screen-size-medium) and (max-width: $screen-size-large) {
	.only-medium {
		display: inherit;
	}

	.up-to-medium {
		display: inherit;
	}
	.up-to-large {
		display: inherit;
	}

	.at-least-medium {
		display: inherit;
	}
}
@media (min-width: $screen-size-large) and (max-width: $screen-size-xlarge) {
	.only-large {
		display: inherit;
	}

	.up-to-large {
		display: inherit;
	}

	.at-least-medium {
		display: inherit;
	}
	.at-least-large {
		display: inherit;
	}
}
@media (min-width: $screen-size-xlarge) {
	.only-xlarge {
		display: inherit;
	}

	.at-least-medium {
		display: inherit;
	}
	.at-least-large {
		display: inherit;
	}
	.at-least-xlarge {
		display: inherit;
	}
}

.at-least-small {
	display: inherit;
}
.up-to-xlarge {
	display: inherit;
}
